{% load static %}
<footer class="container-fluid no-padding footer-main">
    <!-- Social Block -->
    <div class="container-fluid no-padding social-block">
        <!-- Container -->
        <div class="container">
            <h4>Stay Connected</h4>
            <ul>
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!-- Container /- -->
    </div><!-- Social Block /- -->

    <div class="container-fluid no-padding footer-middle">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Widget Block -->
                <div class="col-md-5 col-sm-6 col-xs-6 widget-block">
                    <!-- About Widget -->
                    <div class="ftr-widget ftr_widget_about">
                        <h3>ABOUT US</h3>
                        <p>Nhóm 1.</p>
                    </div><!-- About Widget /- -->
                </div><!-- Widget Block /- -->
                <!-- Widget Block -->
                <div class="col-md-4 col-sm-6 col-xs-6 widget-block">
                    <!-- Recent Tweets -->
                    <div class="ftr-widget ftr_widget_instagram">
                        <h3>INSTAGRAM</h3>
                        <ul>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-1.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-2.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-3.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-4.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-5.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-6.jpg' %}" alt="Recent" /></a></li>
                        </ul>
                    </div><!-- Recent Tweets /- -->
                </div><!-- Widget Block /- -->
                <!-- Widget Block -->
                <div class="col-md-3 col-sm-6 col-xs-6 widget-block">
                    <!-- Link Widget -->
                    <div class="ftr-widget ftr_widget_link">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            {% for category in categories %}
                            <li><a href="#" title="{{category.name}}">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- Link Widget /- -->
                </div><!-- Widget Block /- -->
            </div>
        </div><!-- Container /- -->
    </div>
    <!-- Footer Bottom -->
    <div class="container-fluid no-padding btm-ftr">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fa fa-copyright"></i> Copyright {% now "Y" %} All Rights Reserved</p>
                </div>
                <div class="col-md-8 ftr-menu-block">
                    <!-- nav -->
                    <nav class="navbar navbar-default ow-navigation">
                        <div class="navbar-header">
                            <button aria-controls="navbar" aria-expanded="false" data-target="#ftr-navbar"
                                data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse" id="ftr-navbar">
                            <ul class="nav navbar-nav navbar-right">
                                {% url 'index' as index_url %}
                                <li {% if request.get_full_path == index_url %}class="active" {% endif %}>
                                    <a href="{% url 'index' %}" title="Home">Home</a>
                                </li>

                                {% url 'category' slug='cong-nghe' as cong_nghe_url %}
                                <li {% if request.get_full_path == cong_nghe_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='cong-nghe' %}" title="Technology">Công nghệ</a>
                                </li>

                                {% url 'category' slug='xe-co' as xe_co_url %}
                                <li {% if request.get_full_path == xe_co_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='xe-co' %}" title="Sports">Xe cộ</a>
                                </li>

                                {% url 'category' slug='the-thao' as the_thao_url %}
                                <li {% if request.get_full_path == the_thao_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='the-thao' %}" title="Lifestyle">Thể thao</a>
                                </li>

                                {% url 'category' slug='du-lich' as du_lich_url %}
                                <li {% if request.get_full_path == du_lich_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='du-lich' %}" title="Travel">Du lịch</a>
                                </li>

                                {% url 'category' slug='giai-tri' as giai_tri_url %}
                                <li {% if request.get_full_path == giai_tri_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='giai-tri' %}" title="entertainment">Giải trí</a>
                                </li>

                                {% url 'contact' as contact_url %}
                                <li {% if request.get_full_path == contact_url %}class="active" {% endif %}>
                                    <a href="{% url 'contact' %}" title="contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </nav><!-- nav /- -->
                </div>
            </div>
        </div>
    </div><!-- Footer Bottom /- -->
</footer>