{% extends "layouts/base.html" %}

{% block title %}Home - Magazine{% endblock %}

{% load static %}

{% block content %}
<!-- Slider Section 1 -->
<div id="home-revslider" class="slider-section container-fluid no-padding">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <div class="rev_slider_wrapper">
        <div id="home-slider1" class="rev_slider" data-version="5.0">
            <ul>
                {% for post in slideposts %}
                    <li>

                        <img src="../../../media/{{ post.image }}" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-0"
                            data-x="['center','center','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-basealign="slide" 
                            data-height="full" 
                            data-hoffset="['0','0','0','0']" 
                            data-responsive="off" 
                            data-responsive_offset="off" 
                            data-start="0" 
                            data-transform_idle="o:1;" 
                            data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
                            data-transform_out="opacity:0;s:500;s:500;" 
                            data-voffset="['0','0','0','0']" 
                            data-whitespace="nowrap" 
                            data-width="full"
                            style="z-index: 5;background-color:rgba(34, 34, 34, 0.549);">
                        </div>
                        <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-1" 
                            data-x="['left','left','left','left']" data-hoffset="['375','140','70','45']" 
                            data-y="['top','top','top','top']" data-voffset="['240','170','130','90']" 
                            data-fontsize="['46','40','32','20']"
                            data-lineheight="['64','50','38','25']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
                            data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
                            data-start="1000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on"
                            data-elementdelay="0.05" 
                            style="z-index: 5; white-space: nowrap; letter-spacing: 1.38px; color:#fff; font-weight: 600;  font-family: 'Poppins', sans-serif;">
                            {% if post.name|length < 60 %}
                                {{ post.name }}
                            {% else %}
                                {{ post.name|slice:"0:59" }} ...
                            {% endif %}
                        </div>
                        <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-2" 
                            data-x="['left','left','left','left']" data-hoffset="['375','140','70','45']" 
                            data-y="['top','top','top','top']" data-voffset="['430','320','250','180']" 
                            data-fontsize="['20','20','20','16']"
                            data-lineheight="['64','64','54','34']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
                            data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                            data-start="1000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on"
                            data-elementdelay="0.05" 
                            style="z-index: 5; white-space: nowrap; letter-spacing: 0.6px; color:#c7c6c6; font-weight: 600; font-family: 'Poppins', sans-serif;">By : {{ post.author }}	{{ post.published_on }}
                        </div>
                        <div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-3" 
                            data-x="['left','left','left','left']" data-hoffset="['375','140','70','45']" 
                            data-y="['top','top','top','top']" data-voffset="['520','410','330','245']" 
                            data-fontsize="['14','14','14','12']"
                            data-lineheight="['30','30','30','30']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
                            data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
                            data-style_hover="c:#fff;bg:#ffb609;"
                            data-start="3000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-actions='[{"event":"click","offset":"0px"}]'
                            data-responsive_offset="on" 
                            data-responsive="off"
                            style="z-index: 10; padding:8px 24px 7px; border-radius: 0; border: 2px solid #ffb609; letter-spacing:0.56px; color: #fff; background-color: transparent; font-weight: 600; font-family: 'Poppins', sans-serif; text-transform:uppercase; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                            <a href="{% url 'detail' post.slug %}" style="color: white;">Read More</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div><!-- Slider Section 1 -->

<!-- Recent Reviews -->
<div class="container-fluid no-left-padding no-right-padding recent-reviews">
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h6>UPDATED</h6>
            <h3>RECENT REVIEWS</h3>
        </div><!-- Section Header /- -->
        <!-- Row -->
        <div class="row">
            <!-- Recent Reviews Left -->
            <div class="col-md-7 col-sm-6 col-xs-6 rcnt-review-left">
                <div class="type-post">
                    <div class="entry-cover">
                        <a href="{% url 'detail' recentreviews.0.slug %}"><img src="../../../media/{{ recentreviews.0.image }}" alt="Recent" /></a>
                        <div class="rcnt-category"><a href="#">{{ recentreviews.0.category }}</a></div>
                    </div>
                    <h3 class="entry-title"><a href="{% url 'detail' recentreviews.0.slug %}">{{ recentreviews.0.name }}</a></h3>
                    <div class="post-meta">
                        <div class="post-time"><a href="#">{{ recentreviews.0.published_on }}</a></div>
                        <div class="post-commnet"><a href="#">{{ recentreviews.0.author }}</a></div>
                    </div>
                    <div class="entry-content">
                        <p>{{ recentreviews.0.description }}</p>
                    </div>
                </div>
            </div><!-- Recent Reviews Left /- -->
            <!-- Recent Reviews Thumb -->
            <div class="col-md-5 col-sm-6 col-xs-6 rcnt-review-right">
                <div class="rcnt-review-thumb">
                    <div class="entry-cover">
                        <a href="{% url 'detail' recentreviews.1.slug %}"><img src="../../../media/{{ recentreviews.1.image }}" style="width: 201px; height: 123px;" alt="Reviews" /></a>
                        <div class="rcnt-category"><a href="#">{{ recentreviews.1.category }}</a></div>
                    </div>
                    <h3 class="entry-title"><a href="{% url 'detail' recentreviews.1.slug %}">{{ recentreviews.1.name }}</a></h3>
                    <div class="post-meta">
                        <div class="post-time"><a href="#">{{ recentreviews.1.published_on }}</a></div>
                        <div class="post-commnet"><a href="#">{{ recentreviews.0.author }}</a></div>
                    </div>
                </div>
                <div class="rcnt-review-thumb">
                    <div class="entry-cover">
                        <a href="{% url 'detail' recentreviews.2.slug %}"><img src="../../../media/{{ recentreviews.2.image }}" style="width: 201px; height: 123px;" alt="Reviews" /></a>
                        <div class="rcnt-category"><a href="#">{{ recentreviews.2.category }}</a></div>
                    </div>
                    <h3 class="entry-title"><a href="{% url 'detail' recentreviews.2.slug %}">{{ recentreviews.2.name }}</a></h3>
                    <div class="post-meta">
                        <div class="post-time"><a href="#">{{ recentreviews.2.published_on }}</a></div>
                        <div class="post-commnet"><a href="#">{{ recentreviews.2.author }}</a></div>
                    </div>
                </div>
                <div class="rcnt-review-thumb">
                    <div class="entry-cover">
                        <a href="{% url 'detail' recentreviews.3.slug %}"><img src="../../../media/{{ recentreviews.3.image }}" style="width: 201px; height: 123px;" alt="Reviews" /></a>
                        <div class="rcnt-category"><a href="#">{{ recentreviews.3.category }}</a></div>
                    </div>
                    <h3 class="entry-title"><a href="{% url 'detail' recentreviews.3.slug %}">{{ recentreviews.3.name }}</a></h3>
                    <div class="post-meta">
                        <div class="post-time"><a href="#">{{ recentreviews.3.published_on }}</a></div>
                        <div class="post-commnet"><a href="#">{{ recentreviews.3.author }}</a></div>
                    </div>
                </div>
            </div><!-- Recent Reviews Thumb /- -->
        </div><!-- Row /- -->
    </div><!-- Container /- -->
</div><!-- Recent Reviews /- -->

<div class="padding-80"></div>

<!-- Container -->
<div class="container">
    <!-- Row -->
    <div class="row">
        <!-- Content Area -->
        <div class="col-md-9 col-sm-7 content-area content_space">
            <!-- Life Style Block -->
            <div class="lifestyle-bolck">
                <h4 class="block-title">CÔNG NGHỆ</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-3 thumb-block no-padding">
                        <div class="col-md-12 col-sm-6 col-xs-12 life-block-thumb">
                            <div class="entry-cover"><a href="{% url 'detail' congngheposts.0.slug %}"><img src="../../../media/{{ congngheposts.0.image }}" style="width: 196px; height: 114px;" alt="Life Style" /></a></div>
                            <div class="post-date"><a href="{% url 'detail' congngheposts.0.slug %}">{{ congngheposts.0.published_on }}</a></div>
                            <h3 class="entry-title"><a href="{% url 'detail' congngheposts.0.slug %}">{{ congngheposts.0.name|slice:"0:20" }} ...</a></h3>
                        </div>
                        <div class="col-md-12 col-sm-6 col-xs-12 life-block-thumb">
                            <div class="entry-cover"><a href="{% url 'detail' congngheposts.1.slug %}"><img src="../../../media/{{ congngheposts.1.image }}" style="width: 196px; height: 114px;" alt="Life Style" /></a></div>
                            <div class="post-date"><a href="{% url 'detail' congngheposts.1.slug %}">{{ congngheposts.1.published_on }}</a></div>
                            <h3 class="entry-title"><a href="{% url 'detail' congngheposts.1.slug %}">{{ congngheposts.1.name|slice:"0:20" }} ...</a></h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-6 big-block">
                        <div class="life-block-big">
                            <div class="entry-cover"><a href="{% url 'detail' congngheposts.2.slug %}"><img src="../../../media/{{ congngheposts.2.image }}"style="width: 370px; height: 400px;" alt="Life Style" /></a></div>
                            <div class="entry-content">
                                <div class="post-date"><a href="{% url 'detail' congngheposts.2.slug %}">{{ congngheposts.2.published_on }}</a></div>
                                <h3 class="entry-title"><a href="{% url 'detail' congngheposts.2.slug %}">{{ congngheposts.2.name|slice:"0:20" }} ...</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-3 thumb-block no-padding">
                        <div class="col-md-12 col-sm-6 col-xs-12 life-block-thumb">
                            <div class="entry-cover"><a href="{% url 'detail' congngheposts.3.slug %}"><img src="../../../media/{{ congngheposts.3.image }}" style="width: 196px; height: 114px;" alt="Life Style" /></a></div>
                            <div class="post-date"><a href="{% url 'detail' congngheposts.3.slug %}">{{ congngheposts.3.published_on }}</a></div>
                            <h3 class="entry-title"><a href="{% url 'detail' congngheposts.3.slug %}">{{ congngheposts.3.name|slice:"0:20" }} ...</a></h3>
                        </div>
                        <div class="col-md-12 col-sm-6 col-xs-12 life-block-thumb">
                            <div class="entry-cover"><a href="{% url 'detail' congngheposts.4.slug %}"><img src="../../../media/{{ congngheposts.4.image }}" style="width: 196px; height: 114px;" alt="Life Style" /></a></div>
                            <div class="post-date"><a href="{% url 'detail' congngheposts.4.slug %}">{{ congngheposts.4.published_on }}</a></div>
                            <h3 class="entry-title"><a href="{% url 'detail' congngheposts.4.slug %}">{{ congngheposts.4.name|slice:"0:20" }} ...</a></h3>
                        </div>
                    </div>
                </div>
            </div><!-- Life Style Block /- -->
            <!-- Style Block -->
            <div class="style-block">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-6 box-style">
                        <div class="box-style1">
                            <div class="entry-cover"><a href="#"><img src="../../../media/{{ congngheposts.5.image }}" style="width: 391px; height: 538px;" alt="Style" /></a></div>
                            <div class="entry-content">
                                <span>{{ congngheposts.5.category }}</span>
                                <h3 class="entry-title"><a href="{% url 'detail' congngheposts.5.slug %}">{{ congngheposts.5.name }}</a></h3>
                                <a href="{% url 'detail' congngheposts.5.slug %}">></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-6 box-style">
                        <div class="box-style2">
                            <div class="entry-cover"><a href="#"><img src="../../../media/{{ congngheposts.6.image }}" style="width: 391px; height: 268px;" alt="Style" /></a></div>
                            <div class="entry-content">
                                <span>{{ congngheposts.6.category }}</span>
                                <h3 class="entry-title"><a href="{% url 'detail' congngheposts.6.slug %}">{{ congngheposts.6.name }}</a></h3>
                                <div class="post-meta">
                                    <span><a href="#">{{ congngheposts.6.published_on }}</a></span>
                                    <span>By : <a href="#">{{ congngheposts.6.author }}</a></span>
                                </div>
                                <p>{{ congngheposts.6.description }}</p>
                                <a href="{% url 'detail' congngheposts.6.slug %}" title="View Post">VIEW POST</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Style Block /- -->
        </div><!-- Content Area /- -->
        
        <!-- Widget Area -->
        <div class="col-md-3 col-sm-5 widget-area widget_space">
        
            <!-- Widget: Search -->
            <aside class="widget widget_search">
                <form method="get" class="searchform" action="/search">
                    <div class="input-group">
                        <input name="text" placeholder="Search..," class="form-control" required="" type="text"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="icon icon-Search"></i></button>
                        </span>
                    </div>
                </form>
            </aside><!-- Widget: Search /- -->
            
            <!-- Widget: Categories -->
            <aside class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>
                <ul>
                    {% for category in categories %}
						<li class="cat-item"><a href="{% url 'category' category.slug %}" title="{{ category.name }}">{{ category.name }}</a></li>
					{% endfor %}
                </ul>
            </aside><!-- Widget: Categories /- -->
            
            <!-- Widget: Latest Posts -->
            <aside id="widget_latestposts" class="widget widget_latestposts">
                <h3 class="widget-title">Recent Posts</h3>
                {% for recentreview in recentreviews %}
					<div class="latest-content">
						<a href="{% url 'detail' recentreview.slug %}" title="Recent Posts"><i><img src="../../../media/{{ recentreview.image }}" style="width: 78px; height: 78;" class="wp-post-image" alt="blog-1"></i></a>
						<h5><a title="The paradox of modern Vietnam" href="{% url 'detail' recentreview.slug %}">{{ recentreview.name }}</a></h5>
						<span><a href="{% url 'detail' recentreview.slug %}">{{ recentreview.category }}</a> <a href="#">{{ recentreview.published_on }}</a></span>
					</div>
				{% endfor %}
            </aside><!-- Widget: Latest Posts /- -->
            
            <!-- Widget: Archives -->
            <!-- <aside class="widget widget_archive">
                <h3 class="widget-title">archives</h3>
                <ul>
                    <li><a href="#">February </a> &nbsp; (16)</li>
                    <li><a href="#">March </a> &nbsp; (07)</li>
                    <li><a href="#">May </a> &nbsp; (12)</li>
                    <li><a href="#">June </a> &nbsp; (15)</li>
                    <li><a href="#">July </a> &nbsp; (05)</li>
                </ul>
            </aside> -->
            <!-- Widget: Archives /- -->
            
            <!-- Widget: Tag Cloud -->
            <!-- <aside id="tag_cloud" class="widget widget_tag_cloud">
                <h3 class="widget-title">POPULAR TAGES</h3>
                <div class="tagcloud">
                    <a href="#" title="TRAVEL">TRAVEL</a>
                    <a href="#" title="TECHNOLOGY">TECHNOLOGY</a>
                    <a href="#" title="ENTERTAINMENT">ENTERTAINMENT</a>
                    <a href="#" title="SPORTS">SPORTS</a>
                    <a href="#" title="LIFESTYLE">LIFESTYLE</a>
                    <a href="#" title="BUSINESS">BUSINESS</a>
                    <a href="#" title="DESTINATION">DESTINATION</a>
                    <a href="#" title="HEALTH">HEALTH</a>
                    <a href="#" title="NATURE">NATURE</a>
                </div>
            </aside> -->
            <!-- Widget: Tag Cloud /- -->
            
        </div><!-- Widget Area /- -->
    </div><!-- Row /- -->
</div><!-- Container /- -->

<!-- Sports Post Block -->
<div class="container-fluid no-padding sports-block">
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header section-header2">
            <h6>Read the</h6>
            <h3>Thể thao</h3>
        </div><!-- Section Header /- -->
        <!-- Row -->
        <div class="row">
            <!-- Post Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 post-box">
                <div class="type-post">
                    <div class="entry-cover"><a href="{% url 'detail' thethaoposts.0.slug %}"><img src="../../../media/{{ thethaoposts.0.image }}" style="width: 351px; height: 301px;" alt="Sports" /></a></div>
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' thethaoposts.0.slug %}">{{ thethaoposts.0.name }}</a></h3>
                        <div class="post-meta">
                            <span>By : <a href="#">{{ thethaoposts.0.author }}</a></span>
                            <span><a href="#">{{ thethaoposts.0.published_on }}</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- Post Box /- -->
            <!-- Post Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 post-box">
                <div class="type-post">
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' thethaoposts.1.slug %}">{{ thethaoposts.1.name }}</a></h3>
                        <div class="post-meta">
                            <span>By : <a href="#">{{ thethaoposts.1.author }}</a></span>
                            <span><a href="#">{{ thethaoposts.1.published_on }}</a></span>
                        </div>
                    </div>
                    <div class="entry-cover"><a href="{% url 'detail' thethaoposts.1.slug %}"><img src="../../../media/{{ thethaoposts.1.image }}" style="width: 351px; height: 301px;" alt="Sports" /></a></div>
                </div>
            </div><!-- Post Box /- -->
            <!-- Post Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 post-box">
                <div class="type-post">
                    <div class="entry-cover"><a href="{% url 'detail' thethaoposts.2.slug %}"><img src="../../../media/{{ thethaoposts.2.image }}" style="width: 351px; height: 301px;" alt="Sports" /></a></div>
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' thethaoposts.2.slug %}">{{ thethaoposts.2.name }}</a></h3>
                        <div class="post-meta">
                            <span>By : <a href="#">{{ thethaoposts.2.author }}</a></span>
                            <span><a href="#">{{ thethaoposts.2.published_on }}</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- Post Box /- -->
            <!-- Post Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 post-box">
                <div class="type-post">
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' thethaoposts.3.slug %}">{{ thethaoposts.3.name }}</a></h3>
                        <div class="post-meta">
                            <span>By : <a href="#">{{ thethaoposts.3.author }}</a></span>
                            <span><a href="#">{{ thethaoposts.3.published_on }}</a></span>
                        </div>
                    </div>
                    <div class="entry-cover"><a href="{% url 'detail' thethaoposts.3.slug %}"><img src="../../../media/{{ thethaoposts.3.image }}" style="width: 351px; height: 301px;" alt="Sports" /></a></div>
                </div>
            </div><!-- Post Box /- -->
            <!-- Post Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 post-box">
                <div class="type-post">
                    <div class="entry-cover"><a href="{% url 'detail' thethaoposts.4.slug %}"><img src="../../../media/{{ thethaoposts.4.image }}" style="width: 351px; height: 301px;" alt="Sports" /></a></div>
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' thethaoposts.4.slug %}">{{ thethaoposts.4.name }}</a></h3>
                        <div class="post-meta">
                            <span>By : <a href="#">{{ thethaoposts.4.author }}</a></span>
                            <span><a href="#">{{ thethaoposts.4.published_on }}</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- Post Box /- -->
            <!-- Post Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 post-box">
                <div class="type-post">
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' thethaoposts.5.slug %}">{{ thethaoposts.5.name }}</a></h3>
                        <div class="post-meta">
                            <span>By : <a href="#">{{ thethaoposts.5.author }}</a></span>
                            <span><a href="#">{{ thethaoposts.5.published_on }}</a></span>
                        </div>
                    </div>
                    <div class="entry-cover"><a href="{% url 'detail' thethaoposts.5.slug %}"><img src="../../../media/{{ thethaoposts.5.image }}" style="width: 351px; height: 301px;" alt="Sports" /></a></div>
                </div>
            </div><!-- Post Box /- -->
        </div><!-- Row /- -->
    </div><!-- Container /- -->
</div><!-- Sports Post Block /- -->

<!-- Categories Post Block -->
<div class="container-fluid no-padding category-post-block">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Category Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 category-box">
                <!-- Section Header -->
                <div class="section-header section-header2 section-header3">
                    <!-- <h6>TIPS FOR</h6> -->
                    <h3>XE CỘ</h3>
                </div><!-- Section Header /- -->
                <div class="category-full-box">
                    <div class="entry-cover"><a href="{% url 'detail' xecoposts.0.slug %}"><img src="../../../media/{{xecoposts.0.image}}" style="width: 360px; height: 320px;" alt="Categories" /></a></div>
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' xecoposts.0.slug %}">{{xecoposts.0.name}}</a></h3>
                        <div class="post-meta">
                            <span><a href="#">{{xecoposts.0.published_on}}</a></span>
                            <span>By <a href="#">{{xecoposts.0.author}} </a></span>
                        </div>
                    </div>
                </div>
                {% for xecopost in xecoposts %}
                    {% if forloop.counter0  > 0 %}
                    <div class="category-thumb-box">
                        <div class="entry-cover"><a href="#"><img src="../../../media/{{xecopost.image}}" style="width: 111px; height: 111px;" alt="Categories" /></a></div>
                        <div class="entry-header">
                            <h3 class="entry-title"><a href="#">{{xecopost.name|slice:"0:10"}} ...</a></h3>
                            <div class="post-meta">
                                <span><a href="#">{{xecopost.published_on}}</a></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div><!-- Category Box /- -->
            
            <!-- Category Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 category-box">
                <!-- Section Header -->
                <div class="section-header section-header2 section-header3">
                    <!-- <h6>HEALTHY</h6> -->
                    <h3>DU LỊCH</h3>
                </div><!-- Section Header /- -->
                <div class="category-full-box">
                    <div class="entry-cover"><a href="{% url 'detail' dulichposts.0.slug %}"><img src="../../../media/{{dulichposts.0.image}}" style="width: 360px; height: 320px;" alt="Categories" /></a></div>
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' dulichposts.0.slug %}">{{dulichposts.0.name}}</a></h3>
                        <div class="post-meta">
                            <span><a href="#">{{dulichposts.0.published_on}}</a></span>
                            <span>By <a href="#">{{dulichposts.0.author}}</a></span>
                        </div>
                    </div>
                </div>
                {% for dulichpost in dulichposts %}
                    {% if forloop.counter0 > 0 %}
                    <div class="category-thumb-box">
                        <div class="entry-cover"><a href="{% url 'detail' dulichpost.slug %}"><img src="../../../media/{{dulichpost.image}}" style="width: 111px; height: 111px;" alt="Categories" /></a></div>
                        <div class="entry-header">
                            <h3 class="entry-title"><a href="{% url 'detail' dulichpost.slug %}">{{dulichpost.name|slice:"0:10"}} ...</a></h3>
                            <div class="post-meta">
                                <span><a href="#">{{dulichpost.published_on}}</a></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div><!-- Category Box /- -->
            
            <!-- Category Box -->
            <div class="col-md-4 col-sm-6 col-xs-6 category-box">
                <!-- Section Header -->
                <div class="section-header section-header2 section-header3">
                    <!-- <h6>ENJOY THE</h6> -->
                    <h3>GIẢI TRÍ</h3>
                </div><!-- Section Header /- -->
                <div class="category-full-box">
                    <div class="entry-cover"><a href="{% url 'detail' giaitriposts.0.slug %}"><img src="../../../media/{{giaitriposts.0.image}}" style="width: 360px; height: 320px;" alt="Categories" /></a></div>
                    <div class="entry-header">
                        <h3 class="entry-title"><a href="{% url 'detail' giaitriposts.0.slug %}">{{giaitriposts.0.name}}</a></h3>
                        <div class="post-meta">
                            <span><a href="#">{{giaitriposts.0.published_on}}</a></span>
                            <span>By <a href="#">{{giaitriposts.0.author}}</a></span>
                        </div>
                    </div>
                </div>
                {% for giaitripost in giaitriposts %}
                    {% if forloop.counter0 > 0 %}
                    <div class="category-thumb-box">
                        <div class="entry-cover"><a href="{% url 'detail' giaitripost.slug %}"><img src="../../../media/{{giaitripost.image}}" style="width: 111px; height: 111px;" alt="Categories" /></a></div>
                        <div class="entry-header">
                            <h3 class="entry-title"><a href="{% url 'detail' giaitripost.slug %}">{{giaitripost.name|slice:"0:10"}} ...</a></h3>
                            <div class="post-meta">
                                <span><a href="#">{{giaitripost.published_on}}</a></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div><!-- Category Box /- -->
        </div><!-- Row /- -->
    </div><!-- Container /- -->
</div><!-- Categories Post Block /- -->

<!-- Events Section -->
<div class="container-fluid no-padding events-section">
    {% for bottompost in bottomposts %}
        <!-- Events Box -->
        <div class="col-md-3 col-sm-6 col-xs-6 no-padding events-box">
            <div class="type-post">
                <div class="entry-cover"><a href="{% url 'detail' bottompost.slug %}"><img src="../../../media/{{bottompost.image}}" style="width: 480px; height: 431px;" alt="Events" /></a></div>
                <div class="entry-header">
                    <h3 class="entry-title"><a href="#">{{bottompost.name}}</a></h3>
                    <div class="post-meta">
                        <span><a href="#">{{bottompost.published_on}}</a></span>
                    </div>
                </div>
            </div>
        </div><!-- Events Box /- -->
    {% endfor %}
</div><!-- Events Section /- -->
{% endblock %}